<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let restaurant of restaurants">
            <th scope="row">{{restaurant.id}}</th>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.address}}</td>
            <td>{{restaurant.email}}</td>
            <td><i (click)="deleteRestaurant(restaurant.id)" class="fa fa-trash" aria-hidden="true" style="font-size: 15px;color:red"></i>
            </td>
        </tr>
    </tbody>
</table>
